<% provide(:title, "Bio") %>
<h1> <%= yield(:title) %> </h1>

<div class="row">

	<div class="col-md-4">

	<%= image_tag("lean_left_shoulders_shown.jpeg", :alt => "Picture of Morgan Howell", :class =>'bio-photo') %>
	</div>

	<div class="col-md-7">
	<p> Hi! I'm a double major in computer science and business with a focus in finance. I would like to think of myself as an aspiring entrepreneur with a knack for collaborative software development teams. I've had the opportunity to lead and support various university and community projects ranging in the fields of: social entrepreneurship, education reform, bioinformatics research, and computer science. I'm especially interested in starting initiatives for educational opportunities and open source learning projects for software development in third world nations and rural communities in America. Besides coding, I'm really interested in education reform, cryptocurrency, and rock climbing. I'm actively looking for a job as a software developer, so make sure to shoot me a message if I seem to be a match for your team!</p>
	</div>

</div>

