<% provide(:title, "Contact") %>
<h1> <%= yield(:title) %> </h1>

<table id="contact-info" class="table">
        <tbody>
        	<tr class="active">
                <td>Email:</td>
                <td>morgan.howell95@gmail.com</td>
            </tr>
            <tr class="active">
                <td>Phone:</td>
                <td>+1 (704) 985-5705</td>
            </tr>
            <tr class="active">
                <td>Current Location:</td>
                <td>Chapel Hill, NC</td>
            </tr>
            <tr class="active">
                <td>Impending Travel Plans:</td>
                <td>Studying at the National University of Singapore Dec-May of 15/16</td>
            </tr>
        </tbody>
    </table>