<div id="canvas-backdrop" class="center jumbotron">

	<!--
  <h1>Welcome to Morgan's Portfolio</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">MH-SITE</a>
   -->

	<table id="canvas-cells">
	</table>
	<div class="options">
		<span>
		<button id="start-button" type="button"> start </button>
		<button id="stop-button" type="button"> stop </button>
		<button id="scatter-button" type="button"> shuffle </button>
		<button id="next-button" type="button"> next </button>
		<button id="reset-button" type="button"> reset </button>
		</span>
	</div>
</div>

