<% provide(:title, "Portfolio") %>

<h1> <%= yield(:title) %> </h1>


<h2> Vitrium Health </h2>

<p> Public face where doctors are free to request a pilot <p>
	<a href="http://vitriumhealth.com/">Vitrium Front</a>

<p> APIs that surgeons can use as a portal to append notes for specific patients through the Glass app <p>
	<a href="http://vitrium-health.herokuapp.com/">Vitrium APIs</a>


<h2> Carolina Creates </h2>

<p> I manage the technology sector as well as our website, I just released an online crowdfunding platform where students can donate to startups on campus. Checkout the link below for Sonder Market's platform. <p>

	<a href="http://www.carolinacreates.unc.edu/crowdfunding-platform">Sonder Market Crowdfunding Platform</a>


<h2> WebPro Finder - Hackathon Winner!</h2>

<p> An app for GoDaddy’s small business customers to find and work with each other based on location and skillset, so they can take on bigger projects. The app was integrated as a part of the GoDaddy WebPro program after the hackathon upon Product Manager’s request.<p>


<h2> Appetite </h2>

<p> I created an app with a friend, Josh Potter, that recognizes your mood and predicts where you'd like to eat based on your situational context. I've released my Objective-C code to the public on Github and the Android app has been published.<p>

	<a href="https://play.google.com/store/apps/details?id=guru.apps.llc.appetite&hl=en">Link to Android app</a>
	<a href="https://github.com/morganhowell95/Appetite">Open source Objective-C code</a>


<h2> DBMS for public schools in Zanzibar </h2>

<p> I traveled to Zanzibar, Tanzania for three months where I lectured on design patterns and more modern programming languages at the local universities. During my time there I also wrote a database management system that aided the retreival of information for a few schools.<p>

	<a href="https://github.com/morganhowell95/Secondary-School-Management-in-Zanzibar"> Minimal recreation of the code in English</a>


<h2> ScanMi </h2>

<p> I thought it would be cool to embed information in images without being able to see the embedded information. This inspired my creation of a Java application which utilizes a form of cellular automata to recreate hidden pixels that have been recognizably manipulated. <p>

	<a href="https://github.com/morganhowell95/Secondary-School-Management-in-Zanzibar"> Open source to come as soon as I scrape my old laptop</a>


<h2> Bayesian-Analysis from the Flow Cytometer </h2>

<p> I held a research position at Duke University where I wrote a script to parse and detect activated cells using some elementary analysis on graph sets.<p>

	<a href="https://github.com/morganhowell95/Secondary-School-Management-in-Zanzibar"> Open source to come as soon as I scrape my old laptop</a>
