<footer class="footer">
  <small>
    Morgan J. Howell's Portfolio, courtesy of Rails
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   bio_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/mhowl1">F</a></li>
    </ul>
  </nav>
</footer>